body{
    margin:0px;
    background-color: #edf5f7;
}

#cnav{
    display:flex;
    justify-content:space-between;
    border:solid;
    height:40px;
    align-items:center;
    padding-left:15px;
    padding-right:15px;
    border:none;
    border-bottom:solid 1px rgb(211, 208, 208);
    background-color: white;
}

#cnav>div:nth-child(1){
    border:solid red 0px;
}

#cnav>div:nth-child(2){
    border:solid red 0px;
    display:flex;
    align-items:center;
    justify-content:center;
    width:40%;
    height:30px;
    background-color: #edf5f7;
}
#cnav>div:nth-child(2)>input{
   width:80%;
   border:none;
   outline:none;
   background-color: transparent;
}
