*{
    font-family:Arial, Helvetica, sans-serif, 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body{
    margin:0px;
}
#navbartop{
    width:100%;
    margin:0px;
    height:auto;
    border-bottom:solid 1px rgb(225, 220, 220);
    background-color: none;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: white;
   
}
#navbartop>div:nth-child(1){
    margin-left:10px;
    margin-right:15px;
    width:8%;
    border:solid 0px;
    padding-top:5px;
    
}
#navbartop>div:nth-child(1)>img{
    width:100%;
    border:solid 0px;
    cursor:pointer;
}
#navbartop>div:nth-child(2){
    width:58%;
    display:flex;
    flex-direction: row;
    border:solid 0px;
    justify-content:space-around;
    font-size:15px;   
}
#navbartop>div:nth-child(2) h4{
    margin-top:10px;
    margin-bottom:5px;
    font-weight:600; 
}
#navbartop>div:nth-child(2) h4:nth-child(1){
    color:#ff6f61;
}

#navbartop>div:nth-child(2) h4:hover{
    color:#ff6f61;
    cursor:pointer;
}
#navbartop>div:nth-child(3){
    border:solid 0px;
    width:20%;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    font-size:12px;
    cursor:pointer;
   
}
#navbartop>div:nth-child(3)>div{
    display:flex;
    flex-direction: row;
    cursor:pointer;
}
#navbartop>div:last-child{
    text-align: center;
    cursor:pointer;
}
#navbartop>div:nth-child(3)>div:last-child{
    padding-top:12px;
    border:solid 0px;
    width:15%;
    font-size:20px;
    transform: scaleX(-1);
}
#navbartop>div:last-child{
   border:solid 0px;
   font-size:12px;
}

/* SignUp Popup */
.signup{
    display:flex;
    flex-direction:column;
    width:25%;
    border:solid red;
    padding:25px;
    position:absolute;
    left:35%;
    top:200px;
    background-color:white;
    visibility:hidden;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    border-radius:15px;
}
.signup>form{
   display:flex;
   flex-direction:column;
}
.signup>h3{
    text-align: center;
}
form input{
    margin-bottom:8px;
    background-color:transparent;
    border:none;
    outline:none;
    border-bottom:solid 2px orangered;
}
form label{
    font-size:12px;
    color:grey;
}
#sub{
    margin-top:15px;
    border:none;
    background-color:orangered;
    height:30px;
    border-radius:15px;
    color:white;
}

.si-popup{
    visibility:visible;
}

/* login popup */
.login{
    width:25%;
    border:solid orangered;
    padding:25px;
    display:flex;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    position:absolute;
    top:200px;
    left:35%;
    background-color:white;
    visibility:hidden;
    border-radius:15px;
}
.pop{
    visibility:visible;
}
.login>h3{
    text-align:center;
}
#lform{
    display:flex;
    flex-direction:column;
}
#lform>a{
    font-size:12px;
    margin-left:5px;
    margin-top:10px;
}
#lsub{
    border:none;
    background-color:orangered;
    height:30px;
    margin-top:5px;
    border-radius:20px;
    color:white;
}
form p{
    text-align:center;
    font-size:14px;
    color:grey;
}
form span{
    text-decoration: underline;
    color:orangered;
    cursor:pointer;
}

/* login successful */
.LS{
    border:solid green;
    width:30%;
    margin:auto;
    text-align:center;
    padding:20px;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    position:absolute;
    left:35%;
    top:200px;
    background-color: white;
    visibility: hidden;
}
.pop{
    visibility:visible;
}
.LS h2{
    color:green;
}
.LS button{
    width:140px;
    height:40px;
    border:none;
    background-color: green;
    border-radius:5px;
    color:white;
    cursor:pointer;
    
}
.LS img{
    width:25%;
    border-radius:5px;
}
.LS p{
    padding:5px;
}





@media all and (max-width: 1000px) and (min-width:600px){
    #navbartop>div:nth-child(2){
        display:grid;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows:repeat(2,30px);
       
    }
}
@media all and (max-width: 600px) and (min-width:300px){
    #navbartop>div:nth-child(2){
        display:grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows:repeat(3,30px);
       
    }
    #navbartop>div:nth-child(3){
        display:flex;
        flex-direction:column;
        padding-bottom:20px;
    }
}