body{
    background-color: #f1f4f6;
}
#ad-1{
    width:100%;
    border-bottom:solid 1px rgb(212, 208, 208);
    display:flex;
    height:auto;
    background-color: white;
    
}
#ad-1 img{
    width:100%;
    height:100%;
}
#ad-1>:first-child{
    width:75%;
    margin:0px;
}
#ad-1>:last-child{
    width:25%;
    margin:0px;
}
#mg{
    font-size:22px;
    text-align:center;
    color:grey;
    border:solid 1px rgb(212, 208, 208);
    background-color: white;
    margin:0px;
}
#ad-2{
    width:100%;
    height:auto;
    padding:25px;
    
}
#ad-2>img{
    width:90%;
    padding:20px;
    margin:auto;
}
.pd{
    background-color: white;
    width:100%;
    margin:auto;
    border:solid red 0px;
    overflow-x:auto;
    margin-bottom:15px;
    margin-top:10px;
}
.product-container{
    width:150%;
    display:flex;
    justify-content: center;
    border:solid 0px;
    margin:auto;
}
.product-card{
    text-align:center;
    width:10%;
    border:solid 0px;
    padding:5px;
}

.pd>div>div:hover{box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
cursor:pointer;}
.pd>div>div>img{
    width:80%;
}
label{
    margin-left:10px;
}
/* #pd::-webkit-scrollbar {
    display: none;
} */


/* Full Body Checkup */
.lb-bt{
    height:60px;
    display:flex;
    justify-content: space-between;
    align-items: end;
    padding:10px;
}
.lb-bt>button{
    background-color: orangered;
    font-size: 10px;
    border:none;
    border-radius: 5px;
    color:white;

}

#fbc{
    width:175%;
    display:flex;
    justify-content: space-evenly;
    margin:auto;
    gap:10px;
    background-color:white;
    padding:5px;
}
.box{
    border:solid;
    width:15%;
    padding:10px;
    border-radius: 10px;
    border: solid rgb(187, 181, 181) 1px;

}
.box:hover{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.box>div:first-child{
    padding:0px;
    width:95%;
    height:30px;
    display:flex;
    border:solid blue 0px;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    margin-top:2px;
    margin-bottom:2px;
}
.box>div:first-child>img{
    width:5%;
    height:15px
}
.tata{
    border:solid 1px rgb(206, 191, 191);
    width:27%;
    height:40px;
}
.star{
    display:flex;
    border:solid red;
    width:20%;
    height:18px;
    align-items:center;
    justify-content: space-evenly;
    font-size:12px;
    background-color: rgb(15, 198, 15);
    color:white;
    border-radius:5px;
    border:none;
}
.imstar{
    border:solid blue 0px;
    display:flex;
    justify-content: space-between;
    align-items:center;
    margin-top:2px;
    margin-bottom:2px;
    
}
.price{
    font-size:17px;
    font-weight: bold;
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-top:2px;
    margin-bottom:2px;
}
.price>p:first-child{
  font-size:14px;
}
 .price>p:last-child{
    font-size:12px;
    font-weight: lighter;
    text-decoration: line-through;
    color:rgb(91, 88, 88);
 }
 .disc{
    border:dashed green;
    width:40px;
    height:15px;
    font-size:12px;
    display:flex;
    align-items: center;
    font-weight: bold;
    padding:3px;
    background-color:rgb(136, 231, 136);
    color:green;
    margin-top:2px;
    margin-bottom:2px;
 }
 .box p{
    font-size:12px;
 }
#skt{
    width:100%;
    overflow:auto;
}
.fb{
    height:60px;
    display:flex;
    justify-content: space-between;
    align-items: end;
    padding:10px; 
}
.fb>button{
    background-color: orangered;
    font-size: 10px;
    border:none;
    border-radius: 5px;
    color:white;
}
.path{
    width:100%;
    background-color: white;
}
.pt>div{
    border:solid red;
}










@media all and (max-width: 1000px) and (min-width:600px){
    #ad-1{
        flex-direction:column;
    }
    #ad-1>:first-child{
        width:100%;
    }
    #ad-1>:last-child{
        width:100%; 
}

}
@media all and (max-width: 600px) and (min-width:300px){
    #ad-1{
        flex-direction:column;
    }
    #ad-1>:first-child{
        width:100%;
    }
    #ad-1>:last-child{
        width:100%; 
}
.product-card{
    font-size:10px;
}
}